.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    padding: 20px;
    height: 100%;
    background-color:  #fed2cd;
}

h2, h3, h4 {
    color: #ffe9e6;

}

h2 {
    font-size: 36px;
    text-shadow: -2.5px 2.5px 0px #febcb3,
                 -5px 5px 0px #fe9c8f,
                 -7.5px 7.5px 0px #fd7968;
}

h3 {
    text-shadow: -2.5px 2.5px 0px #febcb3;
}

.snippet-wrapper {
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: #ffe9e6;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(179, 21, 0, 0.4);
}

span {
    font-size: 14px;
    color: #fe9c8f;
}

input {
    margin-top: 20px;
    border: 1px solid #febcb3;
    border-radius: 10px;
    padding: 10px 20px;
    width: 40%;
    background-color: #ffe9e6;
    font-size: 14px;
}

button {
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background: #fe9c8f;
    font-size: 14px;
    color: #ffe9e6;
}
